*{
    box-sizing: border-box;
}

  

body{
    margin:0px;
}
.menu-container{
    /* border:1px solid black; */
    height:4rem;
}
#topmenu>span{
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}
hr{
    margin:0px;
    margin-bottom: 0.5px;
    border-style: solid;
    border-color:whitesmoke;
}



#bottommenu{
    /* overflow-y:hidden; */
    /* overflow-x:auto ; */
    width:100%;
    height:2rem;
    display:flex;
    
}

#bottommenu > *{
    border:none;
    /* border-left:1px solid silver; */
    border-right:1px solid silver;
    height:80%;
    align-items: center;
    background-color: white;
    outline:none;
    padding-right:0.5rem;
    padding-left:0.5rem
    
}
#fontsize{
    cursor: pointer;
    width:4rem;
}

#fontsyle {
    cursor: pointer;
    width:8rem;
}
#bui
{
    /* height:100%; */
    cursor: pointer;
    display: flex;
    justify-content:space-between;
    
   
    width:8rem;
}
#span1{
    cursor: pointer;
    width:30%;
}
#span2{
    cursor: pointer;
    width:30%;
    
}
.iconactive{
    /* background-color:rgb(178, 178, 248); */
    background-color:#CEE5D0;
}
#align{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width:8rem;

}
#textcolor{
    cursor: pointer;
    /* display: flex; */
    margin-left: 1rem;
    position: relative;
    width:4rem;
    /* justify-content: space-around; */
}
#backgroundcolor{
    cursor: pointer;
    position:relative;
    margin-left:1rem;
    width:4rem;
}


.hovertextcolor{
    cursor: pointer;
    width: 50px;
    /* overflow: visible; */
    visibility: hidden;
    position: absolute;
    top:2.2rem;
    left:0rem;
    visibility: hidden;
    
    height: 25px;
    font-size: x-small;
    background-color: rgb(139, 161, 165);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* position: inherit;
    z-index:1;
   */
  }
.colorpicker:hover + .hovertextcolor{
    visibility: visible;
}
#inputtextcolor{
    visibility: hidden;
    position:absolute;
    top:0.2rem;
    left:-5.4rem;
} 
.hoverbgcolor{
    /* overflow:visible; */
    visibility: hidden;
    position: absolute;
    top:2.2rem;
    left:-0.5rem;
    width: 50px;
    height: 25px;
    font-size: x-small;
    background-color: rgb(139, 161, 165);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

}
.cellcolor:hover + .hoverbgcolor{
    visibility: visible;
}
#inputbgcolor{
    visibility: hidden;
    position:absolute;
    top:0.2rem;
    left:-5.4rem;
} 




/* **************************************************************************8 */
.formula-container{
    border:1px solid silver;
    height:2rem;
    display:flex;
    /* justify-content: space-around; */
}


#selectedcell{
    align-self: center;
    margin-left:1rem;
    width:5rem;
    height: 70%;
    border:none;
    border-right: 1px solid gray;
    outline:none;

}
#formulainput{
    align-self: center;
    height:70%;
    /* margin:1rem; */
    border:none;
    border-left: 1px solid gray;
    padding-left:1rem;
    outline:none;

}

#spanfunction{
    text-align: center;
    align-self: center;
    width:2rem;
}







/* ********************************************************************************8 */
.grid-container{
    border:0.5px solid rgb(126, 124, 124);
    height:calc( 100vh - (7.5rem));
    background-color: rgb(238, 238, 248);
   position:relative;
   overflow: auto;

}
.lefttopbox{
    width:2rem;
    height:1.5rem;
    border:0.5px solid rgb(121, 118, 118);
    background-color: #CEE5D0;
    /* position: fixed; */
}
.firstcol{
    width:2rem;
    /* position:relative;
    bottom:1.5rem; */
    /* right:calc(100vw - (2rem)); */
   
    height: calc(100vh - (9rem));
    /* position: fixed; */
    /* overflow:auto; */
    
}
/* .firstcol::-webkit-scrollbar { 
    display: none;
} */
.firstcoldiv{
    height:1.5rem;
    width:100%;
    border:1px solid rgb(136, 133, 133);
    text-align: center;
    background-color: #CEE5D0;

}
.firstrowdiv{
    min-width:6rem;
    border:0.5px solid silver;
    height:1.5rem;
    display: flex;
    text-align: center;
    background-color: #CEE5D0;
            
    
}
.firstrow{
    position: absolute;
    left:2rem;
    top:0rem;
    width:calc( 100% - 2rem);
    height:1.5rem;  
    display: flex;
    /* position:sticky; */
    /* overflow: auto; */
}
.grid{
    position:absolute;
    left:2rem;
    top:1.5rem;
    width:calc( 100% - 2rem);
    height:calc( 100% - 1.5rem);
    
}
.cells{
    min-width:6rem;
    border:0.5px solid #b7d4b9;
    height:1.5rem;
    /* display: flex; */
    text-align: center; 

}
.rows{
    display:flex;

}















/* ************************************************** */



.sheets-container{
    /* border:1px solid black; */
    height:1.5rem;
    display: flex;
    
}

.addbutton{
    
    /* border:0.5px solid black; */
    position: absolute;
    z-index: 2;
    height:1.5rem;
    text-align:center;
    /* width:2.5rem; */
}
#addsheet{
    position: relative;
    bottom:1rem;
    background-color: #4CAF50;
    border-radius: 60%;
    /* background-color:#9ed6a2; */
    cursor: pointer;
    /* box-shadow: 0 2px #999; */
    width:2.5rem;
    height:2.5rem;
}  
#addsheet:hover {background-color: #3e8e41}

#addsheet:active {
  background-color: #3e8e41;
  /* box-shadow: 0 5px #666; */
  transform: translateY(-4px);
}
.sheetspace{
    height:100%;
    position: relative;
    left:2.5rem;
    width:calc( 100vw - (2.5rem));
    padding-left: 0.1rem;
    display:flex;
    overflow: auto;
    
}

/* for removing the horizontalscroll bar when adding excess sheets */
.sheetspace::-webkit-scrollbar { 
    display: none;
}
.sheetno{
    cursor: pointer;    
    text-align: center;
    border:1px solid ;
    min-width:5rem;
    background-color: silver;
}
.active{
    background-color:#b3d3b6 ;
}
