*{
    box-sizing: border-box;
}

  

body{
    margin:0px;
}
.menu-container{
    /* border:1px solid black; */
    height:4rem;
}
#topmenu>span{
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}
hr{
    margin:0px;
    margin-bottom: 0.5px;
    border-style: solid;
    border-color:whitesmoke;
}



#bottommenu{
    height:2rem;
    display:flex;
    
}

#bottommenu > *{
    border:none;
    /* border-left:1px solid silver; */
    border-right:1px solid silver;
    height:80%;
    align-items: center;
    background-color: white;
    outline:none;
    padding-right:0.5rem;
    padding-left:0.5rem
    
}
#fontsize{
    width:4rem;
}

#fontsyle {
    width:8rem;
}
#bui
{
    /* height:100%; */
    display: flex;
    justify-content:space-between;
    
   
    width:8rem;
}
#span1{
    width:30%;
}
#span2{
    width:30%;
    
}
.iconactive{
    background-color:rgb(178, 178, 248);
}
#align{
    display: flex;
    justify-content: space-between;
    width:8rem;

}
#color{
    
   width:10rem;
}





/* **************************************************************************8 */
.formula-container{
    border:1px solid black;
    height:2rem;
    display:flex;
    /* justify-content: space-around; */
}


#selectedcell{
    align-self: center;
    margin-left:1rem;
    width:5rem;
    height: 70%;
    border:none;
    border-right: 1px solid gray;
    outline:none;

}
#formulainput{
    align-self: center;
    height:70%;
    /* margin:1rem; */
    border:none;
    border-left: 1px solid gray;
    padding-left:1rem;
    outline:none;

}

#spanfunction{
    text-align: center;
    align-self: center;
    width:2rem;
}







/* ********************************************************************************8 */
.grid-container{
    border:1px solid black;
    height:calc( 100vh - (7.5rem));
    background-color: rgb(238, 238, 248);
   position:relative;
   overflow: auto;

}
.lefttopbox{
    width:2rem;
    height:1.5rem;
    border:0.5px solid black;
    background-color: tomato;
    /* position: fixed; */
}
.firstcol{
    width:2rem;
    /* position:relative;
    bottom:1.5rem; */
    /* right:calc(100vw - (2rem)); */
   
    height: calc(100vh - (9rem));
    /* position: fixed; */
    /* overflow:auto; */
    
}
/* .firstcol::-webkit-scrollbar { 
    display: none;
} */
.firstcoldiv{
    height:1.5rem;
    width:100%;
    border:1px solid black;
    text-align: center;
    background-color: #CEE5D0;

}
.firstrowdiv{
    min-width:6rem;
    border:0.5px solid green;
    height:1.5rem;
    display: flex;
    text-align: center;
    background-color: yellow;
            
    
}
.firstrow{
    position: absolute;
    left:2rem;
    top:0rem;
    width:calc( 100% - 2rem);
    height:1.5rem;  
    display: flex;
    /* position:sticky; */
    /* overflow: auto; */
}
.grid{
    position:absolute;
    left:2rem;
    top:1.5rem;
    width:calc( 100% - 2rem);
    height:calc( 100% - 1.5rem);
    
}
.cells{
    min-width:6rem;
    border:0.5px solid green;
    height:1.5rem;
    /* display: flex; */
    text-align: center; 

}
.rows{
    display:flex;

}















/* ************************************************** */



.sheets-container{
    /* border:1px solid black; */
    height:1.5rem;
    display: flex;
    
}
button{
    border-radius: 60%;
    background-color:#F7D59C;
}
.addbutton{
    
    /* border:0.5px solid black; */
    text-align:center;
    width:2rem;
    height:100%;
}
#addsheet{
    width:1.5rem;
    height:100%;
}  
.sheetspace{
    height:100%;
    width:calc( 100vw - (1.5rem));
    padding-left: 0.1rem;
    display:flex;
    overflow: auto;
    
}

/* for removing the horizontalscroll bar when adding excess sheets */
.sheetspace::-webkit-scrollbar { 
    display: none;
}
.sheetno{
    text-align: center;
    border:1px solid ;
    min-width:5rem;
    background-color: silver;
}
.active{
    background-color:#80ED99 ;
}
